.carro_titulo{
    text-align: center;
    text-transform: uppercase;
    color: purple;
    padding: 1em 0.5em;

}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,

.swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: .5em;
}

.card{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-image: linear-gradient(blue, pink);
}
.card_detail{
    display: flex;
}