@import url(header.css);
@import url(banner.css);
@import url(carro.css);
@import url(TOPS.css);

:root{
    --cor-de-fundo: rgb(187, 37, 154);
    --menu-color: rgb(151, 97, 153);
}

body{
    background-color: var(--cor-de-fundo);
}
