.topicos{
    background-image: linear-gradient(rgb(255, 187, 255), rgb(255, 0, 242));
    text-align: center;
}

.topico_titulo{
    color: rgba(255, 255, 57, 0.925);
    font-weight: 500;
    padding: 1em;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    padding: 2em 0.5em;
    list-style: none;
    background-color: rgb(233, 117, 248);
    display: flex;
    flex-wrap: wrap;
}